NET "Timmer_ON" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[7]" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[6]" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[5]" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[4]" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[3]" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[2]" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[1]" IOSTANDARD = LVCMOS33;
NET "A_D_Bus[0]" IOSTANDARD = LVCMOS33;
NET "RGB[9]" IOSTANDARD = LVCMOS33;
NET "RGB[8]" IOSTANDARD = LVCMOS33;
NET "RGB[7]" IOSTANDARD = LVCMOS33;
NET "RGB[6]" IOSTANDARD = LVCMOS33;
NET "RGB[5]" IOSTANDARD = LVCMOS33;
NET "RGB[4]" IOSTANDARD = LVCMOS33;
NET "RGB[3]" IOSTANDARD = LVCMOS33;
NET "RGB[2]" IOSTANDARD = LVCMOS33;
NET "RGB[1]" IOSTANDARD = LVCMOS33;
NET "RGB[0]" IOSTANDARD = LVCMOS33;
NET "AD" IOSTANDARD = LVCMOS33;
NET "ALARMA" IOSTANDARD = LVCMOS33;
NET "Alarma_stop" IOSTANDARD = LVCMOS33;
NET "Babajo" IOSTANDARD = LVCMOS33;
NET "Barriba" IOSTANDARD = LVCMOS33;
NET "Bcentro" IOSTANDARD = LVCMOS33;
NET "Bderecha" IOSTANDARD = LVCMOS33;
NET "Bizquierda" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "CS" IOSTANDARD = LVCMOS33;
NET "HS" IOSTANDARD = LVCMOS33;
NET "IRQ" IOSTANDARD = LVCMOS33;
NET "RD" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;
NET "VS" IOSTANDARD = LVCMOS33;
NET "WR" IOSTANDARD = LVCMOS33;


NET "Timmer_ON" LOC = R3;
NET "A_D_Bus[7]" LOC = G14;
NET "A_D_Bus[6]" LOC = P15;
NET "A_D_Bus[5]" LOC = V11;
NET "A_D_Bus[4]" LOC = V15;
NET "RD" LOC = K16;
NET "WR" LOC = R16;
NET "CS" LOC = T9;

NET "A_D_Bus[3]" LOC = B13;
NET "A_D_Bus[2]" LOC = F14;
NET "A_D_Bus[1]" LOC = D17;
NET "A_D_Bus[0]" LOC = E17;
NET "AD" LOC = G13;
NET "IRQ" LOC = E18;
 
NET "RGB[3]" LOC = D8;
NET "RGB[2]" LOC = D7;
NET "RGB[1]" LOC = C7;
NET "RGB[0]" LOC = B7;
NET "RGB[7]" LOC = A6;
NET "RGB[6]" LOC = B6;
NET "RGB[5]" LOC = A5;
NET "RGB[4]" LOC = C6;
NET "RGB[11]" LOC = A4;
NET "RGB[10]" LOC = C5;
NET "RGB[9]" LOC = B4;
NET "RGB[8]" LOC = A3;

NET "ALARMA" LOC = P4;
NET "Alarma_stop" LOC = P3;
NET "Babajo" LOC = V10;
NET "Barriba" LOC = F15;
NET "Bcentro" LOC = E16;
NET "Bderecha" LOC = R10;
NET "Bizquierda" LOC = T16;
NET "CLK" LOC = E3;
NET "HS" LOC = B11;
NET "RST" LOC = U9;
NET "VS" LOC = B12;

# PlanAhead Generated IO constraints 

NET "RGB[11]" IOSTANDARD = LVCMOS33;
NET "RGB[10]" IOSTANDARD = LVCMOS33;
